body{
	background-image: #dedec1 url('imagens/fundo.png');
	font:16px Arial, Helvetica, sans-serif;
}

a{
	text-transform: uppercase;
	text-decoration: none;
	font-weight: bold;
	color: #000010;
	padding: 5px;
}

h2{
	font-size: 1.2em;
	color: #4D371B ;
}

p{
	font-size: 17px;
	color: #38240B;
}

.div-texto{
	padding: 8px;
	background-color: #F3E3CF;
	width: 900px;
}

.img{
	border-color: #D0C2B1;
	border-width: 10px;
	border-style: solid;
}

#rodape{
	text-align: center;
}

#container{
	width: 900px;
}

#div-link{ 
	width: 900px; 
	background-color: #D0C2B1; 
	padding: 8px; 
}